<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
<script>
function MainCtrl( $scope ) {
	$scope.user = null;
	$scope.setUser = function( name ) {
		$scope.user = name;
	}
}
function LoginCtrl( $scope ) {
	$scope.name = '';
	$scope.login = function() {
		$scope.setUser( $scope.name );
	}
	$scope.logout = function() {
		$scope.setUser( null );
	}
}
</script>
</head>
<body ng-controller="MainCtrl">

<div>
	<div ng-show="user">{{user}} is logged in</div>
	<div ng-hide="user">No user logged in</div>
</div>

<div ng-controller="LoginCtrl" style="float:right;padding:5px;border:1px solid #ccc;background:#eee;">
	<div ng-hide="user"><input ng-model="name"></div>
	<div>
		<button ng-show="user" ng-click="logout()">Logout</button>
		<button ng-hide="user" ng-click="login()">Login</button>
	</div>
</div>

</body>
</html>
