<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="#">Home</a></li>
  </ul>
  <h3 class="text-muted">To-Do List</h3>
</div>

<div class="row marketing" ng-controller="TodoController">
  <p ng-repeat="todo in todos track by todo.id" class="task">
    <button ng-click="done(todo)" class="btn btn-xs btn-danger">Done</button>
    <input type="text" ng-model="todo.text" ng-keyup="save($event,todo)">
  </p>
  <p>
    <input type="text" ng-model="new_todo" ng-keyup="add($event)">
  </p>
</div>
