<html ng-app>
<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.14/angular.js"></script>
<script>
function CostCtrl( $scope ) {
	$scope.cost = 1000.1;
	$scope.add_tax = true;

    $scope.shipping_options = [
            { amount: 10.0, name: "Flat Rate" },
            { amount: 20.0, name: "Express" },
            { amount: 30.0, name: "Super Express" }
    ];
	$scope.shipping = $scope.shipping_options[0];

	$scope.total_bill = true;

	$scope.update = function() {
		$scope.tax = $scope.add_tax ? $scope.cost * 0.15 : 0.0;
		$scope.total = parseFloat( $scope.cost ) + $scope.tax + $scope.shipping.amount;
	}
	$scope.$watch( 'cost+add_tax', $scope.update );
	$scope.$watch( 'shipping', $scope.update );

	$scope.$watch( 'total_bill', function(){
		$scope.bill_display = $scope.total_bill ? 'block' : 'none';
	});

	$scope.final_bill = 0.0;
	$scope.add = function() {
		$scope.final_bill += $scope.total;
	}
}
</script>
</head>
<body>

<div ng-controller="CostCtrl">
<div>
	<input type="checkbox" ng-model="add_tax">Add Tax
	<input type="checkbox" ng-model="total_bill">Show Total
</div>
<div>
<label ng-repeat="s in shipping_options" >
<input type="radio" ng-model="$parent.shipping" ng-value="s">{{s.name}}
</label>
</div>
Cost: <input ng-model="cost" type="text" placeholder="cost" />
<p>
This cost is {{cost|currency}}.
</p>
<p>
This tax is {{tax*0.15|currency}}.
</p>
<p style="display:{{bill_display}};">
This total is {{total|currency}}.
<button ng-click="add()">Add</button>
</p>
<p style="display:{{bill_display}};">
Your running total is {{final_bill|currency}}.
</p>
</div>

</body>
</html>
